.container {
    width: 1280px;
    margin: 0 auto;
}

.top-link {
    display: inline-block;
    font-size: 80px;
    color: black;
    text-decoration: none;
    margin-bottom: 45px;
    margin-top: 61px;

}

.teal-text {
    color: #4bcaff;
}

.nav-bar-menu {
    background-color: #35444f;
    margin-bottom: 51px;
}

.nav-bar-menu ul {
    text-align: center;
}

.nav-bar-menu ul li {
    display: inline-block;
}


.nav-bar-link {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    padding: 25px 40px 20px 40px;
}

.nav-bar-link:hover {
    background-color: #222f3a;
    transition: all 1.5s ease;
}

.left-box {
    display: inline-block;
    /*background: red;*/
    width: 344px;
    margin-right: 47px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid;
}


.left-box-menu {
    list-style-type: none;
    text-align: left;
}

.left-box-link {
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #495863;
    padding: 25px 30px 25px 44px;
 }

.left-box-link:hover {
    background-color: gold;
    transition: all 1.5s ease;
    color: black;
}

.img-text-block {
    display: inline-block;
    text-align: center;
    width: 885px;
    /*height: 529px;*/
    /*background: teal;*/
    vertical-align: top;


}

.img-logo {
    padding: 74px 0;
    overflow:hidden;
    box-sizing: border-box;
    border: 1px solid;
    /*width: 320px;*/
    /*height: 381px;*/

}

.img-logo img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img-logo img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.text-block {
    width: 815px;
    font-size: 18px;
    display: inline-block;
    text-align: left

}


.text-box-1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.text-box-2 {

}

.footer-menu {
    background-color: #b4b7ba;
    margin-bottom: 21px;
    margin-top: 51px;
}

.footer-menu ul {
    display:inline-block;
    text-align: left;
}

.footer-menu ul li {
    display: inline-block;
}


.footer-menu-link {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 28px;
    padding: 20px 10px 20px 20px;
}

.footer-menu-link:hover {
    color: blue;
    transition: all 3s ease;
}

.copywright {
    display: inline-block;
    font-size: 28px;
    text-align: right;
    margin-left: 180px;
    margin-right: 34px;
}


